body {
  background-color: white;
}

a:hover {
  color: orange;
  text-decoration:none;
}

h1 {
      color: Blue;
      font size:32px;
      font-family: 'Muli', sans-serif;
}
h2:hover {
  color: red;

}
