body {
  background: #d2faff;
}

a:hover {
  color: orange;
  text-decoration:none;
}

h1 {
      color: Blue;
      font size:32px;
      font-family: 'Muli', sans-serif;
      text-align: center;
}
h2:hover {
  color: #0432dc;

}

#name {
  color: #0432dc;
}
#address {
font-weight: bold;
font-size: 20px;

}
.img{
  text-align: center;
  
}

.company {
  color: orange;
}

.extra {
  color: #5a6365;
  font-size: 18px;

}
.info {
  color: #757575;
}

.info2 {
font-weight: bolder;
}

.info3:hover {
  color: red;

}
address {
  text-align: center;

}
}
