body {
   background: white;
   font-family: 'Questrial', sans-serif;
   font-size: 25px;
   text-align: center;
}
/* .wrapper * {
  background: blue;
  padding: 10px;
} */


.main-head {
  grid-area: header;
  background:blue;

}
img.ultra {
  width: 2000px;
  height:300px;

}
img.sound {
  width: 100%;
  height: auto;
}

/* img.concert1 {
  width: 300px;
  height: 300px;
}
img.concert2 {
  width: 300px;
  height: 300px;
}
img.concert3 {
  width: 300px;
  height: 300px;
}
img.concert4 {
  width: 300px;
  height: 300px;
}
img.concert5 {
  width: 300px;
  height: 300px;
}
img.dj {
  width: 300px;
  height: 300px; */
}

.picture-grid {
  display:grid;
  grid-template-columns: repeat (auto-fill,minmax(10px,1fr));
  justify-content:center;
  grid-gap: 5px;
  grid-row-gap: 0px;

}
.grid-box img {
  width:100%;
}
th {
  background-color: white;
  font-size: 2em;
  font-family: 'Questrial', sans-serif;
  width: 100%;
  height: auto;


}

td {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  width: 100%;
  height: auto;
}

img.odesza1 {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  /* margin-left: 20px; */
  /* margin-right: 2px; */
}

img.boombox1 {
width: 300px;
height: 300px;
margin-bottom: 10px;

}


img.night1 {
width: 300px;
height: 300px;
margin-bottom: 10px;

}

img.boombox2 {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}










.content {
  grid-area: content;
  background: red;
}
.main-nav {
  grid-area: nav;
  background: yellow;
  text-decoration: none;
}
.side {
  grid-area: sidebar;
  background: green;
}
.ad {
  grid-area: ad;
  background: orange;
}
.main-footer {
  grid-area: footer;
  background: black;
}

/* Mobile Layout */


.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "ad"
    "footer";
}


/* tablet layout */

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
      "header  header"
      "nav nav"
      "content ad"
      "footer  footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;

  }
}

/* Desktop layout */


@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 4fr 1fr 0fr;
    grid-template-areas:
      "header header  header"
      "content nav nav"
      "content ad ad"
      "footer footer  footer"

   }
.main-nav ul {
     flex-direction:column;
   }
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

}
.main-nav li {
  margin: 0;
  padding-left: 0;
  background: green;
  border-bottom: 1px solid blue;


}

.main-nav ul li:hover {
  background: yellow;
}

.main-nav li.active {
  background: orange;
}
